<!--begin::Signin-->
<div class="login-form login-signin">
    <!--begin::Form-->
    <form class="form" [formGroup]="loginForm" novalidate="novalidate" id="kt_login_signin_form" (ngSubmit)="submit()">
        <!--begin::Title-->
        <div class="pb-13 pt-lg-0 pt-5">
            <h3 class="font-weight-bolder text-dark font-size-h4 font-size-h1-lg">
                Welcome to Enter Future
            </h3>
        </div>
        <!--end::Title-->

        <!-- begin::Alert error-->
        <ng-container *ngIf="hasError">
            <div class="mb-10 alert alert-custom alert-light-danger alert-dismissible">
                <div class="alert-text">The login details are incorrect</div>
            </div>
        </ng-container>
        <!-- end::Alert error-->

        <!--begin::Form group-->
        <div class="form-group">
            <label class="font-size-h6 font-weight-bolder text-dark">Email</label>
            <input class="form-control form-control-solid h-auto py-7 px-6 rounded-lg" type="email" name="email"
                   formControlName="email" autocomplete="off"
                   [ngClass]="{ 'is-invalid': controls.email?.invalid && (controls.password.dirty || controls.email.touched) }"/>
            <div class="fv-plugins-message-container" *ngIf="controls.email?.invalid && (controls.password.dirty || controls.email.touched)">
                <div class="fv-help-block" *ngIf="controls.email.errors.required"> email is required </div>
                <div class="fv-help-block" *ngIf="controls.email.errors.pattern"> Please check your Email </div>
            </div>

        </div>
        <!--end::Form group-->

        <!--begin::Form group-->
        <div class="form-group">
            <div class="d-flex justify-content-between mt-n5">
                <label class="font-size-h6 font-weight-bolder text-dark pt-5">Password</label>
                <a routerLink="/auth/forgot-password"
                   class="text-primary font-size-h6 font-weight-bolder text-hover-primary pt-5" id="kt_login_forgot">
                    Forgot Password ?
                </a>
            </div>

            <input class="form-control form-control-solid h-auto py-7 px-6 rounded-lg" type="password" name="password"
                   autocomplete="off" formControlName="password"
                   [ngClass]="{ 'is-invalid': controls.password?.invalid && (controls.password.dirty || controls.password.touched)}"/>

            <div class="fv-plugins-message-container" *ngIf="controls.password?.invalid && (controls.password.dirty || controls.password.touched)">
                <div class="fv-help-block" *ngIf="controls.password.errors.required"> Password is required </div>
                <div class="fv-help-block" *ngIf="controls.password.errors.minlength"> Password is too short </div>
            </div>


        </div>
        <!--end::Form group-->

        <!--begin::Action-->
        <div class="pb-lg-0 pb-5">
            <button type="submit" id="kt_login_signin_submit"
                    class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3">Sign In
            </button>

            <ng-container *ngIf="isLoading">
                <span class="spinner spinner-primary ml-5"></span>
            </ng-container>
        </div>
        <!--end::Action-->
    </form>
    <!--end::Form-->
</div>
<!--end::Signin-->
